node_modules/
dist/
.astro/
.vite/
.vscode/
.idea/
coverage/
.nyc_output/
.cache/
.jekyll-cache/
.sass-cache/
.vercel/
.netlify/
.env
.env.*
*.local
*.tsbuildinfo
*.code-workspace
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
